body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}


.custom-navbar {
  background-color: #fff !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.custom-navbar .navbar-brand {
  color: #ff4da6;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.custom-navbar .nav-link {
  color: #000000 !important;
  font-weight: 700;
  position: relative;
  padding: 10px 15px;
  
}

.custom-navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #ff4da6;
  transition: width 0.6s ease;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}

.custom-navbar .nav-link.active {
  color: #ff4da6 !important;
}

.custom-navbar .nav-link.active::after {
  width: 100%;
}

#about {
  background: #fff;
  padding: 80px 0;
}

#about h2 {
  font-size: 2.5rem;
  color: #e91e63;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}


#about p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.7;
}

#about .about-img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

#about .about-img:hover {
  transform: scale(1.05);
}
