body {
  font-family: 'Poppins', sans-serif;
  color: #333;
}


.custom-navbar {
  background-color: #fff !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.custom-navbar .navbar-brand {
  color: #ff4da6;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.custom-navbar .nav-link {
  color: #000000 !important;
  font-weight: 700;
  position: relative;
  padding: 10px 15px;
  
}

.custom-navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #ff4da6;
  transition: width 0.6s ease;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}

.custom-navbar .nav-link.active {
  color: #ff4da6 !important;
}

.custom-navbar .nav-link.active::after {
  width: 100%;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(227, 192, 205, 0.6),rgba(240, 222, 228, 0.6)), 
              url('../Images/5816415536433711507.jpg') center/cover no-repeat ;
              color: #ffffff;
            
}

.btn-pink {
  background: #e75480;
  border: none;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  transition: 0.3s;
}
.btn-pink:hover {
  background: #d1446c;
}

.product-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s;
}
.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}
.product-card img {
  width: 100%;
  height: 250px;      
  object-fit: cover;    
  display: block;
}

#about {
  background: #fff0f6; 
  padding: 80px 0;
}

#about h2 {
  font-size: 2.5rem;
  color:#d61958e9;   
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}



#about p {
  font-size: 1.1rem;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.7;
}


#contact {
  background: #fff0f6;            
  padding: 80px 0;
}

#contact h2 {
  font-size: 2.5rem;
  color:#d61958e9;              
  margin-bottom: 20px;
  font-weight: bold;
}

#contact p {
  font-size: 1.1rem;
  color: #444;
  padding-top: 50px;
}

#contact a {
  color: #d61958e9;              
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

#contact a:hover {
  color: #ca1750;          
  border-bottom: 2px solid #cd0246;
}
